{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Data Viziam{% endblock %}</title>
        
        <!-- Favicon -->
        <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
        
        <!-- Links para CSS -->
        <link rel="stylesheet" href="{% static 'css/styles-header.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles-index.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles-footer.css' %}">
    </head>
<body>
    <!-- Header -->
    <header>
        <div class="header-title">
            <img src="{% static 'images/logo.png' %}" alt="Logo Data Viziam" class="logo">
            <h1><a href="{% url 'home'%}">Data Viziam</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Início</a></li>
                <li><a href="{% url 'about' %}">Sobre</a></li>
                <li><a href="{% url 'contact' %}">Contato</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Perfil</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Conteúdo da Página -->
    <main>
        {% block content %}
        <!-- Conteúdo específico de cada página -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>Siga-nos para atualizações e novidades: <a href="https://www.instagram.com/dataviziam">Instagram</a> | <a href="http://github.com/data-viziam/">GitHub</a></p>
            <p>Para mais informações, entre em contato conosco pelo e-mail: <a href="mailto:contato@dataviziam.com">contato@dataviziam.com</a></p>
            <p>&copy; 2025 Data Viziam. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>